* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  body {
    background-image: linear-gradient(#1D2B53, #7E2553);
    font-family: Lora, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    background-image: linear-gradient(#1D2B53, #7E2553);
    color: white;
    padding: 1rem;
    text-align: center;
  }

  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
  } 

  header nav ul li a {
    color: white;
    text-decoration: none;
  }

  main {
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 2rem;
  }

  .content {
    background-color: #FF004D;
    opacity: 0.8;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 65%;
  }

  .content ul {
    margin-left: 2rem;
  }

  article p{
    margin-top: 1rem;
  }

  aside {
    background-color: #FF004D;
    opacity: 0.8;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    width: 30%;
  }


.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slides {
  display: flex; 
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%; 
  box-sizing: border-box; 
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}



  footer {
    background-color: #1C0A00;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
  }


  aside img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  aside h2 {
    text-align: center;
    padding-bottom: 1rem;
  }


  /* Media Query */
  /* Media 768px */
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    padding: 1rem;
  }

  .content, aside {
    width: 100%;
    margin-bottom: 1rem;
  }

  header nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .content, aside {
    padding: 1.5rem;
  }

  header, footer {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  aside img {
    width: 100%;
    margin-bottom: 1rem;
  }
}
